<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tutorMapper">

	<resultMap type="Tutor" id="tutorResultSet">
		<result column="MEM_NO" property="memNo"/>
		<result column="TUTOR_PIC" property="tutorPic"/>
		<result column="TUTOR_INFO" property="tutorInfo"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>

</mapper>