<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">


<resultMap id="memberResultSet" type="Member">
	<id column="mem_no" property="memNo" />
	<result column="mem_id" property="memId" />
	<result column="mem_pwd" property="memPwd" />
	<result column="mem_name" property="memName" />
	<result column="nickname" property="nickname" />
	<result column="birthday" property="birthday"/>
	<result column="gender" property="gender"/>
	<result column="postcode" property="postcode"/>
	<result column="post_address" property="postAddress"/>
	<result column="detail_address" property="detailAddress"/>
	<result column="extra_address" property="extraAddress"/>
	<result column="phone" property="phone"/>
	<result column="mem_pic" property="memPic"/>
	<result column="enroll_date" property="enrollDate"/>
	<result column="modify_date" property="modifyDate"/>
	<result column="report_count" property="reportCount"/>
	<result column="out_date" property="outDate"/>
	<result column="status" property="status"/>
	<result column="auth" property="auth" />
	<result column="lesson_title" property="lessonTitle" />
	<result column="lesson_no" property="lessonNo"/>
	<result column="discount" property="discount"/>
	<result column="disc_status" property="discStatus" />
</resultMap>

<resultMap id="lessonResultSet" type="Lesson">
	<id column="lesson_no" property="lessonNo" />
	<result column="mem_no" property="memNo" />
	<result column="lesson_category" property="lessonCategory" />
	<result column="lesson_title" property="lessonTitle" />
	<result column="lesson_status" property="lessonStatus" />
	<result column="status_hold" property="statusHold" />
	<result column="h_reason" property="holdReason" />
	<result column="r_reason" property="refuseReason" />
	<result column="price" property="price" />
	<result column="mem_id" property="memId"/>
</resultMap>

<resultMap type="MemPay" id="memPayResultSet">
	<id column="mem_pay_no" property="memPayNo" />
	<result column="mem_no" property="memNo" />
	<result column="lesson_no" property="lessonNo" />
	<result column="type" property="type" />
	<result column="repayment" property="repayment" />
	<result column="payment_date" property="paymentDate" />
	<result column="cancel_date" property="cancelDate" />
	<result column="status" property="status" />
	<result column="del_name" property="delName" />
	<result column="del_no" property="delNo" />
	<result column="del_status" property="delStatus" />
	<result column="lesson_title" property="lessonTitle" />
	<result column="mem_id" property="memId" />
	<result column="mem_name" property="memName" />
	<result column="lesson_prepare" property="lessonPrepare" />	
	<result column="mem_id" property="memId"/>
	<result column="lesson_title" property="lessonTitle" />
</resultMap>

<resultMap type="Report" id="reportResultSet">
	<id column="reply_no" property="replyNo" />
	<result column="mem_no" property="memNo" />
	<result column="report_type" property="reportType" />
	<result column="report_date" property="reportDate" />
	<result column="status" property="status" />
</resultMap>

<resultMap type="Reply" id="replyResultSet">
	<id column="reply_no" property="replyNo" />
	<result column="mem_no" property="memNo" />
	<result column="reply_count" property="replyCount" />
	<result column="enroll_date" property="enrollDate" />
	<result column="modify_date" property="modifyDate" />
	<result column="reply_no2" property="replyNo2" />
	<result column="reply_level" property="replyLevel" />
	<result column="total_no" property="totlaNo" />
	<result column="rep_count" property="repCount" />
	<result column="status" property="status" />
</resultMap>

<resultMap type="Faq" id="faqResultSet">
	<id column="faq_no" property="faqNo" />
	<result column="faq_category" property="faqCategory" />
	<result column="faq_status" property="faqStatus" />
	<result column="enroll_date" property="enrollDate" />
	<result column="faq_type" property="faqType" />
	<result column="faq_title" property="faqTitle" />
	<result column="faq_content" property="faqContent" />
</resultMap>

<resultMap type="Notice" id="noticeResultSet">
	<id column="notice_no" property="noticeNo" />
	<result column="notice_type" property="noticeType" />
	<result column="notice_title" property="noticeTitle" />
	<result column="notice_content" property="noticeContent" />
	<result column="enroll_date" property="enrollDate" />
	<result column="modify_date" property="modifyDate" />
	<result column="status" property="status" />
	<result column="count" property="count" />
</resultMap>

<resultMap type="Inquiry" id="inquiryResultSet">
	<id column="inq_no" property="inqNo" />
	<result column="mem_no" property="memNo" />
	<result column="inq_title" property="inqTitle" />
	<result column="inq_content" property="inqContent" />
	<result column="inq_type" property="inqType" />
	<result column="enroll_date" property="enrollDate" />
	<result column="answer_date" property="answerDate" />
	<result column="answer_content" property="answerContent" />
	<result column="inq_file" property="inqFile" />
	<result column="origin_file" property="originFile" />
	<result column="type_status" property="typeStatus" />
	<result column="status" property="status" />
	<result column="re_status" property="reStatus" />
</resultMap>

<select id="selectDiscountList" resultMap="memberResultSet">
	 select 
	        l.lesson_title
	      , m.mem_id
	      , l.lesson_no
	      , l.discount
	  from member m
	  join lesson l on(m.mem_no = l.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status = 'Y'
	   and l.status = 'Y'
</select>

<select id="selectListCount" resultType="_int">
	select 
	       count(*)
	  from tutor t
	  join lesson l on (l.mem_no = t.mem_no)
	 where t.status ='Y'
	   and l.status='Y'
</select>

<update id="discountSet" parameterType="Lesson">
	update
	       lesson
	   set 
	   	   discount_period = #{discountPeriod}
	     , discount = #{discount}
	     , disc_status = '적용'
	 where lesson_no = #{lessonNo}
	    
</update>

<select id="searchDiscountCount" parameterType="SearchCondition" resultType="_int">
	select 
	       count(*)
	  from member m 
	  join lesson l on (l.mem_no = m.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status ='Y'
	   and l.status ='Y'
	 <choose>
	 	<when test="title != null">
	 		and lesson_title like '%' || #{title} || '%'
	 	</when>
	 	<when test="writer != null">
	 		and mem_id like '%' || #{writer} || '%'
	 	</when>
	 	<otherwise>
	 		and discount like '%' || #{percentage} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="searchDiscountList" parameterType="SearchCondition" resultMap="memberResultSet">
	 select 
	        l.lesson_title
	      , m.mem_id
	      , l.lesson_no
	      , l.discount
	  from member m
	  join lesson l on(m.mem_no = l.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status = 'Y'
	   and l.status = 'Y'
	 <choose>
	 	<when test="title != null">
	 		and lesson_title like '%' || #{title} || '%'
	 	</when>
	 	<when test="writer != null">
	 		and mem_id like '%' || #{writer} || '%'
	 	</when>
	 	<otherwise>
	 		and discount like '%' || #{percentage} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="countDiscountUnApplied" resultType="_int">
	select 
	       count(*)
	  from member m 
	  join lesson l on (l.mem_no = m.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where l.status ='Y'
	   and disc_status = '미적용'
</select>

<select id="searchDiscountUnApplied" resultMap="memberResultSet">
	 select 
	        l.lesson_title
	      , m.mem_id
	      , l.lesson_no
	      , l.disc_status
	  from member m
	  join lesson l on(m.mem_no = l.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status = 'Y'
	   and l.status = 'Y'
	   and disc_status = '미적용'
</select>

<select id="countDiscountApplied" resultType="_int">
	select 
	       count(*)
	  from member m 
	  join lesson l on (l.mem_no = m.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where l.status ='Y'
	   and disc_status = '적용'
</select>

<select id="searchDiscountApplied" resultMap="memberResultSet">
	 select 
	        l.lesson_title
	      , m.mem_id
	      , l.lesson_no
	      , l.disc_status
	  from member m
	  join lesson l on(m.mem_no = l.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status = 'Y'
	   and l.status = 'Y'
	   and disc_status = '적용'
</select>

<select id="classMgmtList" resultMap="lessonResultSet">
	select
	       l.lesson_title
	     , l.lesson_no
	     , l.lesson_category
	     , m.mem_id
	     , l.lesson_status
	 from lesson l
	 join member m on (l.mem_no = m.mem_no)
	 join tutor t on (t.mem_no = l.mem_no)
	where t.status = 'Y'
	 order 
	    by lesson_no desc
</select>

<update id="lessonApproval" parameterType="_int">
	update
	       lesson
	   set lesson_status = '승인'
	     , r_reason = null
	 where lesson_no = #{lessonNo}
</update>

<update id="rejectApproval" parameterType="Lesson">
	update 
	       lesson
	   set lesson_status = '거절'
	     , r_reason = #{refuseReason}
	     , status = 'N'
	 where lesson_no = #{lessonNo}
</update>

<select id="searchClassMgmtCount" parameterType="SearchCondition" resultType="_int">
	select 
	       count(*)
	  from lesson l 
	  join member m on (l.mem_no = m.mem_no)
	  join tutor t on (l.mem_no = t.mem_no)
	 where t.status ='Y'
	 <choose>
	 	<when test="title != null">
	 		and lesson_title like '%' || #{title} || '%'
	 	</when>
	 	<when test="writer != null">
	 		and mem_id like '%' || #{writer} || '%'
	 	</when>
	 	<otherwise>
	 		and lesson_status like '%' || #{approval} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="searchClassMgmtList" parameterType="SearchCondition" resultMap="lessonResultSet">
	select 
	        l.lesson_title
	      , m.mem_id
	      , l.lesson_no
	      , l.lesson_status
	  from lesson l
	  join member m on(m.mem_no = l.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status = 'Y'
	 <choose>
	 	<when test="title != null">
	 		and lesson_title like '%' || #{title} || '%'
	 	</when>
	 	<when test="writer != null">
	 		and mem_id like '%' || #{writer} || '%'
	 	</when>
	 	<otherwise>
	 		and lesson_status like '%' || #{approval} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="classPaymentListCount" resultType="_int">
	select
	       count(*)
	  from mem_pay
	 where pay_status='Y'
</select>

<select id="classPaymentList" resultMap="memPayResultSet">
	select 
	       m.mem_id
	     , mp.mem_no
	     , mp.mem_pay_no
	     , l.lesson_title
	     , m.mem_name
	     , mp.status
	     , mp.type
	     , mp.repayment
	     , mp.payment_date
	  from mem_pay mp
	  join lesson l on(mp.lesson_no = l.lesson_no)
	  join member m on (mp.mem_no = m.mem_no)
	 where mp.pay_status='Y'
</select>

<update id="cancelPay" parameterType="_int">
	update 
	       mem_pay
	   set status = '결제 취소'
	     , pay_status = 'N'
	 where mem_pay_no = #{memPayNo}
</update>

<select id="searchPaymentMgmtCount" parameterType="SearchCondition" resultType="_int">
		select 
		      count(*)
		  from mem_pay mp
		  join lesson l on(mp.lesson_no = l.lesson_no)
		  join member m on (mp.mem_no = m.mem_no)
		 where mp.pay_status='Y'
	<choose>
	 	<when test="title != null">
	 		and lesson_title like '%' || #{title} || '%'
	 	</when>
	 	<when test="writer != null">
	 		and mem_id like '%' || #{writer} || '%'
	 	</when>
	 	<otherwise>
	 		and mp.status like '%' || #{payment} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="searchPaymentMgmtList" parameterType="SearchCondition" resultMap="memPayResultSet">
	select 
	       m.mem_id
	     , mp.mem_no
	     , mp.mem_pay_no
	     , l.lesson_title
	     , m.mem_name
	     , mp.status
	     , mp.type
	     , mp.repayment
	     , mp.payment_date
	  from mem_pay mp
	  join lesson l on(mp.lesson_no = l.lesson_no)
	  join member m on (mp.mem_no = m.mem_no)
	 where mp.pay_status='Y'
	 <choose>
	 	<when test="title != null">
	 		and lesson_title like '%' || #{title} || '%'
	 	</when>
	 	<when test="writer != null">
	 		and mem_id like '%' || #{writer} || '%'
	 	</when>
	 	<otherwise>
	 		and mp.status like '%' || #{payment} || '%'
	 	</otherwise>
	 </choose>
</select>

<!-- 
			/////////////////////////   회원관리      /////////////////////////////
 -->

<select id="selectMemListCount" resultType="_int">
	select 
	       count(*)
	  from member m
</select>

<select id="memberMgmtList" parameterType="String" resultMap="memberResultSet">
	select
			  mem_no
	        , mem_id
	        , mem_name
	        , nickname
	        , birthday
	        , gender
	        , phone
	        , mem_pic
	        , enroll_date
	        , out_date
	        , status
	        , auth
	     from member
	     order 
	   		 by mem_no desc
</select>

<select id="searchMemberMgmtCount" parameterType="SearchCondition" resultType="_int">
	select 
	       count(*)
	  from member
	  where status='Y'
	 <choose>
	 	<when test="memName != null">
	 		and mem_name like '%' || #{memName} || '%'
	 	</when>
	 	<when test="nickname != null">
	 		and nickname like '%' || #{nickname} || '%'
	 	</when>
	 	<otherwise>
	 		and mem_id like '%' || #{memId} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="searchMemberMgmtList" parameterType="SearchCondition" resultMap="memberResultSet">
	select 
           mem_no
         , mem_id
         , mem_name
         , nickname
         , birthday
         , gender
         , phone
         , mem_pic
         , enroll_date
         , out_date
         , status
         , auth
	  from member
	 where status='Y'
	 <choose>
	 	<when test="memName != null">
	 		and mem_name like '%' || #{memName} || '%'
	 	</when>
	 	<when test="nickname != null">
	 		and nickname like '%' || #{nickname} || '%'
	 	</when>
	 	<otherwise>
	 		and mem_id like '%' || #{memId} || '%'
	 	</otherwise>
	 </choose>
</select>

<!-- 
			/////////////////////////   블랙리스트      /////////////////////////////
 -->

<select id="selectBlacklistListCount" resultType="_int">
	select 
	       count(*)
	  from member
</select>

<select id="blacklistMgmtList" parameterType="String" resultMap="memberResultSet">
	select
			  mem_no
	        , mem_id
	        , nickname
	        , report_count
	     from member
	     where status = 'B'
</select>

<select id="searchBlacklistMgmtList" parameterType="SearchCondition" resultMap="memberResultSet">
	select 
           mem_no
         , mem_id
         , mem_name
         , nickname
         , birthday
         , gender
         , phone
         , mem_pic
         , enroll_date
         , out_date
         , status
         , auth
	  from member
	 where status='Y'
	 <choose>
	 	<when test="memName != null">
	 		and mem_name like '%' || #{memName} || '%'
	 	</when>
	 	<when test="nickname != null">
	 		and nickname like '%' || #{nickname} || '%'
	 	</when>
	 	<otherwise>
	 		and mem_id like '%' || #{memId} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="searchBlacklistMgmtCount" parameterType="SearchCondition" resultType="_int">
	select 
	       count(*)
	  from member
	  where status='Y'
	 <choose>
	 	<when test="memName != null">
	 		and mem_name like '%' || #{memName} || '%'
	 	</when>
	 	<when test="nickname != null">
	 		and nickname like '%' || #{nickname} || '%'
	 	</when>
	 	<otherwise>
	 		and mem_id like '%' || #{memId} || '%'
	 	</otherwise>
	 </choose>
</select>

<!-- 
			/////////////////////////   문의관리      /////////////////////////////
 -->

<select id="searchInquiryMgmtList" parameterType="SearchCondition" resultMap="inquiryResultSet">
	select 
          i.inq_no
        , i.inq_type
        , i.inq_title
        , i.inq_content
        , i.enroll_date
        , i.answer_date
        , i.answer_content
        , i.inq_file
        , i.origin_file
        , i.type_status
        , i.status
        , i.re_status	        
        , m.nickname
		, m.mem_no
        , m.mem_id
     from inquiry i
     join member m on (m.mem_no = i.mem_no)
	 where i.status='N'
	 <choose>
	 	<when test="inqType != null">
	 		and i.inq_type like '%' || #{inqType} || '%'
	 	</when>
	 	<when test="nickname != null">
	 		and m.nickname like '%' || #{nickname} || '%'
	 	</when>
	 	<otherwise>
	 		and i.inq_title like '%' || #{inqTitle} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="searchInquiryMgmtCount" parameterType="SearchCondition" resultType="_int">
	select 
	       count(*)
	  from inquiry i
	  join member m on (m.mem_no = i.mem_no)
	  where i.status='N'
	 <choose>
	 	<when test="inqType != null">
	 		and i.inq_type like '%' || #{inqType} || '%'
	 	</when>
	 	<when test="nickname != null">
	 		and m.nickname like '%' || #{nickname} || '%'
	 	</when>
	 	<otherwise>
	 		and i.inq_title like '%' || #{inqTitle} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="selectInquiryListCount" resultType="_int">
	select 
	       count(*)
	  from inquiry
</select>

<select id="inquiryMgmtList" parameterType="String" resultMap="inquiryResultSet">
	select
			  i.inq_no
	        , i.inq_type
	        , i.inq_title
	        , i.inq_content
	        , i.enroll_date
	        , i.answer_date
	        , i.answer_content
	        , i.inq_file
	        , i.origin_file
	        , i.type_status
	        , i.status
	        , i.re_status	        
	        , m.nickname
			, m.mem_no
	        , m.mem_id
	     from inquiry i
	     join member m on (m.mem_no = i.mem_no)
</select>



<update id="inqAnswer" parameterType="Inquiry">
	update
	       inquiry
	   set answer_content = #{answerContent}
	     , re_status = '완료'
	 where inq_no = #{inqNo}
</update>


<!-- 
			/////////////////////////   신고 관리      /////////////////////////////
 -->

<select id="selectReportListCount" resultType="_int">
	select 
	       count(*)
	  from report re
</select>

<select id="reportMgmtList" parameterType="String" resultMap="reportResultSet">
	select
	       	m.mem_no
	        , re.report_type
	        , re.report_date
	        , re.status
	        , r.rep_count
	        , r.reply_content
	        , m.nickname
	        , r.enroll_date
	        , m.report_count
	     from report re
	     join reply r on (re.reply_no = r.reply_no)
	     join member m on (re.mem_no = m.mem_no)
</select>

<select id="searchReportMgmtList" parameterType="SearchCondition" resultMap="reportResultSet">
	select 
          	m.mem_no
	        , re.report_type
	        , re.status
	        , m.nickname
	     from report re
	     join member m on (re.mem_no = m.mem_no)
	 	where 
	 <choose>
	 	<when test="nickname != null">
	 		 m.nickname like '%' || #{nickname} || '%'
	 	</when>
	 	<when test="reportType != null">
	 		 re.report_type like '%' || #{reportType} || '%'
	 	</when>
	 	<otherwise>
	 		 re.status like '%' || #{status} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="searchReportMgmtCount" parameterType="SearchCondition" resultType="_int">
	select 
	       count(*)
	  from report re
	  join member m on (re.mem_no = m.mem_no)
	 where 
	 <choose>
	 	<when test="nickname != null">
	 		and m.nickname like '%' || #{nickname} || '%'
	 	</when>
	 	<when test="reportType != null">
	 		and re.report_type like '%' || #{reportType} || '%'
	 	</when>
	 	<otherwise>
	 		and re.status like '%' || #{status} || '%'
	 	</otherwise>
	 </choose>
</select>

<!-- 
			/////////////////////////   공지사항 관리      /////////////////////////////
 -->

<select id="selectNoticeListCount" resultType="_int">
	select 
	       count(*)
	  from notice
</select>

<select id="noticeMgmtList" parameterType="String" resultMap="noticeResultSet">
	select
	     	notice_no
	     ,	notice_type
	     ,	notice_title
	     ,	notice_content
	     ,	enroll_date
	     ,	modify_date
	     ,	status
	     ,	count
	     from notice
</select>

<insert id="insertNotice" parameterType="Notice">
	insert
		  into notice
		  (
		     notice_no
		   , notice_type
		   , notice_title
		   , notice_content
		   , modify_date
		   , status
		  )
		  values
		  (
		     SEQ_NNO.NEXTVAL
		   , #{noticeType}
		   , #{noticeTitle}
		   , #{noticeContent}
		   , #{modifyDate}
		   , #{status}
		  )
</insert>

<select id="searchNoticeMgmtCount" parameterType="SearchCondition" resultType="_int">
	select 
	       count(*)
	  from notice
	 where notice_title like '%' || #{noticeTitle} || '%'
	 	
</select>

<select id="searchNoticeMgmtList" parameterType="SearchCondition" resultMap="noticeResultSet">
	select 
          	  notice_no
	        , notice_type
	        , notice_title
	        , enroll_date
	     from notice
	 	where notice_title like '%' || #{noticeTitle} || '%'
	 	
</select>

<!-- 
			/////////////////////////   FAQ 관리      /////////////////////////////
 -->

<select id="selectFaqListCount" resultType="_int">
	select 
	       count(*)
	  from faq
</select>

<select id="faqMgmtList" parameterType="String" resultMap="faqResultSet">
	select
	     	 faq_no
	       , faq_category
	       , faq_status
	       , enroll_date
	       , faq_type
	       , faq_title
	       , faq_content
	     from faq
</select>

<select id="searchFaqMgmtCount" parameterType="SearchCondition" resultType="_int">
	select 
	       count(*)
	  from faq
	 where 
	  <choose>
		 	<when test="faqStatus != null">
		 		faq_status like '%' || #{faqStatus} || '%'
		 	</when>
		 	<when test="faqCategory != null">
		 		faq_category like '%' || #{faqCategory} || '%'
		 	</when>
		 	<otherwise>
		 		faq_title like '%' || #{faqTitle} || '%'
		 	</otherwise>
		 </choose>
</select>

<select id="searchFaqMgmtList" parameterType="SearchCondition" resultMap="faqResultSet">
	select 
          	  faq_category
	        , faq_status
	        , enroll_date
	        , faq_title
	     from faq
	     where
	     <choose>
		 	<when test="faqStatus != null">
		 		faq_status like '%' || #{faqStatus} || '%'
		 	</when>
		 	<when test="faqCategory != null">
		 		faq_category like '%' || #{faqCategory} || '%'
		 	</when>
		 	<otherwise>
		 		faq_title like '%' || #{faqTitle} || '%'
		 	</otherwise>
		 </choose>
	     
</select>

<insert id="insertFaq" parameterType="Faq">
	insert
		  into faq
		  (
		     faq_no
	       , faq_category
	       , faq_status
	       , faq_type
	       , faq_title
	       , faq_content
		  )
		  values
		  (
		     SEQ_FNO.NEXTVAL
		   , #{faqCategory}
		   , #{faqStatus}
		   , #{faqType}
		   , #{faqTitle}
		   , #{faqContent}
		  )
</insert>

</mapper>