<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">


<resultMap id="memberResultSet" type="Member">
	<id column="mem_no" property="memNo" />
	<result column="mem_id" property="memId" />
	<result column="mem_pwd" property="memPwd" />
	<result column="mem_name" property="memName" />
	<result column="nickname" property="nickname" />
	<result column="birthday" property="birthday"/>
	<result column="gender" property="gender"/>
	<result column="postcode" property="postcode"/>
	<result column="post_address" property="postAddress"/>
	<result column="detail_address" property="detailAddress"/>
	<result column="extra_address" property="extraAddress"/>
	<result column="phone" property="phone"/>
	<result column="mem_pic" property="memPic"/>
	<result column="enroll_date" property="enrollDate"/>
	<result column="modify_date" property="modifyDate"/>
	<result column="report_count" property="reportCount"/>
	<result column="out_date" property="outDate"/>
	<result column="status" property="status"/>
	<result column="lesson_title" property="lessonTitle" />
	<result column="lesson_no" property="lessonNo"/>
	<result column="discount" property="discount"/>
	<result column="disc_status" property="discStatus" />
</resultMap>

<resultMap id="lessonResultSet" type="Lesson">
	<id column="lesson_no" property="lessonNo" />
	<result column="mem_no" property="memNo" />
	<result column="lesson_category" property="lessonCategory" />
	<result column="lesson_title" property="lessonTitle" />
	<result column="lesson_status" property="lessonStatus" />
	<result column="status_hold" property="statusHold" />
	<result column="h_reason" property="holdReason" />
	<result column="r_reason" property="refuseReason" />
	<result column="price" property="price" />
	<result column="mem_id" property="memId"/>
</resultMap>

<select id="selectDiscountList" resultMap="memberResultSet">
	 select 
	        l.lesson_title
	      , m.mem_id
	      , l.lesson_no
	      , l.discount
	  from member m
	  join lesson l on(m.mem_no = l.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status = 'Y'
	   and l.status = 'Y'
</select>

<select id="selectListCount" resultType="_int">
	select 
	       count(*)
	  from tutor t
	  join lesson l on (l.mem_no = t.mem_no)
	 where t.status ='Y'
	   and l.status='Y'
</select>

<update id="discountSet" parameterType="Lesson">
	update
	       lesson
	   set lesson_no = #{lessonNo}
	     , discount = #{discount}
	     , disc_status = '적용'
	 where lesson_no = #{lessonNo}
	    
</update>

<select id="searchDiscountCount" parameterType="SearchCondition" resultType="_int">
	select 
	       count(*)
	  from member m 
	  join lesson l on (l.mem_no = m.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status ='Y'
	   and l.status ='Y'
	 <choose>
	 	<when test="content != null">
	 		and lesson_title like '%' || #{title} || '%'
	 	</when>
	 	<when test="writer != null">
	 		and mem_id like '%' || #{writer} || '%'
	 	</when>
	 	<otherwise>
	 		and discount like '%' || #{percentage} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="searchDiscountList" parameterType="SearchCondition" resultMap="memberResultSet">
	 select 
	        l.lesson_title
	      , m.mem_id
	      , l.lesson_no
	      , l.discount
	  from member m
	  join lesson l on(m.mem_no = l.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status = 'Y'
	   and l.status = 'Y'
	 <choose>
	 	<when test="content != null">
	 		and lesson_title like '%' || #{title} || '%'
	 	</when>
	 	<when test="writer != null">
	 		and mem_id like '%' || #{writer} || '%'
	 	</when>
	 	<otherwise>
	 		and discount like '%' || #{percentage} || '%'
	 	</otherwise>
	 </choose>
</select>

<select id="countDiscountUnApplied" resultType="_int">
	select 
	       count(*)
	  from member m 
	  join lesson l on (l.mem_no = m.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where l.status ='Y'
	   and disc_status = '미적용'
</select>

<select id="searchDiscountUnApplied" resultMap="memberResultSet">
	 select 
	        l.lesson_title
	      , m.mem_id
	      , l.lesson_no
	      , l.disc_status
	  from member m
	  join lesson l on(m.mem_no = l.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status = 'Y'
	   and l.status = 'Y'
	   and disc_status = '미적용'
</select>

<select id="countDiscountApplied" resultType="_int">
	select 
	       count(*)
	  from member m 
	  join lesson l on (l.mem_no = m.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where l.status ='Y'
	   and disc_status = '적용'
</select>

<select id="searchDiscountApplied" resultMap="memberResultSet">
	 select 
	        l.lesson_title
	      , m.mem_id
	      , l.lesson_no
	      , l.disc_status
	  from member m
	  join lesson l on(m.mem_no = l.mem_no)
	  join tutor t on (m.mem_no = t.mem_no)
	 where t.status = 'Y'
	   and l.status = 'Y'
	   and disc_status = '적용'
</select>

<select id="classMgmtList" resultMap="lessonResultSet">
	select
	       l.lesson_title
	     , l.lesson_no
	     , l.lesson_category
	     , m.mem_id
	     , l.lesson_status
	 from lesson l
	 join member m on (l.mem_no = m.mem_no)
	 join tutor t on (t.mem_no = l.mem_no)
	where t.status = 'Y'
	  and l.status = 'Y'
	 order 
	    by lesson_no desc
</select>

<update id="lessonApproval" parameterType="_int">
	update
	       lesson
	   set lesson_status = '승인'
	     , r_reason = null
	 where lesson_no = #{lessonNo}
</update>

<update id="rejectApproval" parameterType="_int">
	update 
	       lesson
	   set lesson_status = '거절'
	     , r_reason = #{rReason}
	     , status = 'N'
	 where lesson_no = #{lessonNo}
</update>
</mapper>