<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="curriculumMapper">

	<!-- resultMap -->
 	<resultMap type="Curriculum" id="curriculumResultSet">
 		<id column="curriculum_no" property="curriculumNo" />
 		<result column="curriculum_cont" property="curriculumCont" />
 		<result column="lesson_no" property="lessonNo" />
 		<result column="ref_cur_no" property="refCurNo" />
 		<result column="cur_level" property="curLevel" />
 	</resultMap>
 	
 	<resultMap type="LessonFAQ" id="lessonFAQResultSet">
 		<id column="lesson_no" property="lessonNo" />
 		<result column="faq_question" property="faqQuestion" />
 		<result column="faq_answer" property="faqAnswer" />
 	</resultMap>
 	
 	<resultMap type="MemVideo" id="memVideoResultSet">
 		<id column="video_no" property="videoNo" />
 		<result column="mem_no" property="memNo" />
 		<result column="status" property="status" />
 	</resultMap>
 	
 	<resultMap type="QnA" id="qnaResultSet">
 		<id column="qa_no" property="qnaNo" />
 		<result column="mem_no" property="memNo" />
 		<result column="lesson_no" property="lessonNo" />
 		<result column="question" property="question" />
 		<result column="answer" property="answer" />
 		<result column="q_enroll_date" property="qEnrollDate" />
 		<result column="a_enroll_date" property="aEnrollDate" />
 		<result column="q_status" property="qStatus" />
 		<result column="a_status" property="aStatus" />
 	</resultMap>
 	
 	<resultMap type="Video" id="videoResultSet">
 		<id column="video_no" property="videoNo" />
 		<result column="lesson_no" property="lessonNo" />
 		<result column="video_url" property="videoUrl" />
 		<result column="video_cont" property="videoCount" />
 	</resultMap>
 	
 	<resultMap type="Lesson" id="lessonResultSet">
 		<id column="lesson_no" property="lessonNo" />
 		<result column="mem_no" property="memNo" />
 		<result column="lesson_form" property="lessonForm" />
 		<result column="lesson_type" property="lessonType" />
 		<result column="lesson_group" property="lessonGroup" />
 		<result column="lesson_category" property="lessonCategory" />
 		<result column="lesson_title" property="lessonTitle" />
 		<result column="lesson_cover_img" property="lessonCoverImg" />
 		<result column="lesson_instr" property="lessonInstr" />
 		<result column="lesson_cont_no" property="lessonContNo" />
 		<result column="lesson_prepare" property="lessonPrepare" />
 		<result column="lesson_target" property="lessonTarget" />
 		<result column="like_count" property="likeCount" />
 		<result column="total_count" property="totalCount" />
 	</resultMap>
 	
 	<!-- sql문 -->
 	<!-- 레슨의 정보 가져오기 -->
 	<select id="selectLesson" resultMap="lessonResultSet" parameterType="Lesson">
 		select
		       lesson_no
		     , mem_no
		     , lesson_form
		     , lesson_type
		     , lesson_group
		     , lesson_category
		     , lesson_title
		     , lesson_cover_img
		     , lesson_instr
		     , lesson_cont_no
		     , lesson_prepare
		     , lesson_target
		     , like_count
		     , total_count
		  from lesson
		 where status = 'Y'
  		   and lesson_no = #{lessonNo}
 	</select>
 	
 	<!-- curriculum들 가져오기 -->
 	<select id="selectCurriculum" resultMap="curriculumResultSet" parameterType="Lesson">
 		select
 			   curriculum_no
 			 , curriculum_cont
 			 , ref_cur_no
 			 , cur_level
 		  from curriculum
 		 where lesson_no = #{lessonNo}
 	</select>
 	
 	<select id="selectQnA" resultMap="qnaResultSet" parameterType="Lesson">
 		select
 			   qa_no
 			 , q.mem_no
 			 , lesson_no
 			 , question
 			 , answer
 			 , mem_pic
 			 , tutor_pic
 	 	  from qna q
 	 	  join member m using(mem_no)
 	 	  join tutor t using(mem_no)
 	 	 where lesson_no = #{lessonNo}
 	 	   and t.mem_no = #{memNo}
 	 	 order
 	 	    by qa_no desc
 	</select>
 	
 	<select id="selectVideoCount" resultType="_int" parameterType="Lesson">
 		select
 			   count(status)
 		  from mem_video
 		 where video_no in 
 		 	 (
 		 	   select 
 		 	   	      video_no 
 		 	   	 from video 
 		 	   	where lesson_no = #{lessonNo}
 		 	 )
 		    and status='Y'  
 	</select>
 	
 	<select id="selectAverageStar" resultType="_int" parameterType="Lesson">
 		select
		       round((sum(star) / count(star)), 2) "avgStar"
		  from review
		 where lesson_no = #{lessonNo}
		   and status = 'Y'
 	</select>
</mapper>