<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lessonMapper">
	
<resultMap id="lessonResultSet" type="Lesson">
	<id column="lesson_no" property="lessonNo" />
	<result column="mem_no" property="memNo" />
	<result column="lesson_form" property="lessonForm" />
	<result column="lesson_type" property="lessonType" />
	<result column="lesson_group" property="lessonGroup" />
	<result column="lesson_category" property="lessonCategory" />
	<result column="lesson_title" property="lessonTitle" />
	<result column="lesson_cover_img" property="lessonCoverImg" />
	<result column="lesson_instr" property="lessonInstr" />
	<result column="lesson_cont_no" property="lessonContNo" />
	<result column="lesson_prepare" property="lessonPrepare" />
	<result column="lesson_target" property="lessonTarget" />
	<result column="like_count" property="likeCount" />
	<result column="lesson_status" property="lessonStatus" />
	<result column="status_hold" property="statusHold" />
	<result column="h_reason" property="holdReason" />
	<result column="r_reason" property="refuseReason" />
	<result column="price" property="price" />
	<result column="time" property="time" />
	<result column="total_count" property="totalCount" />
	<result column="period" property="period" />
	<result column="disc_status" property="discStatus" />
	<result column="discount_period" property="discountPeriod" />
	<result column="discount" property="discount" />
	<result column="pay_total" property="payTotal" />
	<result column="status" property="status" />
	<result column="approve_date" property="approveDate" />
</resultMap>

<resultMap id="reviewResultSet" type="Review">
	<id column="review_no" property="reviewNo" />
	<result column="lesson_no" property="lessonNo" />
	<result column="mem_no" property="memNo" />
	<result column="star" property="star" />
	<result column="review_content" property="reviewContent"/>
	<result column="enroll_date" property="reviewEnrollDate"/>
	<result column="modify_date" property="reviewModifyDate"/>
	<result column="status" property="status"/> 
	<result column="nickname" property="nickname"/> 
	<result column="mem_pic" property="memPic"/> 
</resultMap>

<resultMap id="lessonFaqResultSet" type="LessonFaq">
	<result column="lesson_no" property="lessonNo"/>
	<result column="faq_question" property="faqQuestion" />
	<result column="faq_answer" property="faqAnswer" />
</resultMap>

<resultMap id="tutorResultSet" type="Tutor">
	<result column="mem_no" property="memNo" />
	<result column="tutor_pic" property="tutorPic" />
	<result column="tutor_info" property="tutorInfo"/>
	<result column="modify_date" property="modifyDate" />
	<result column="status" property="status" />
</resultMap>

<!-- 커뮤니티 댓글 가져올 resultMap(학천) -->
<resultMap id="replyResultSet" type="Reply">
	<id column="reply_no" property="replyNo" />
	<result column="mem_no" property="memNo" />
	<result column="reply_no2" property="replyNo2"/>
	<result column="reply_content" property="replyContent"/>
	<result column="reply_level" property="replyLevel"/>
	<result column="replyDate" property="replyEnrollDate" />
	<result column="modify_date" property="replyModifyDate" />
	<result column="total_no" property="totalNo"/>
	<result column="reply_type" property="replyType"/>
	<result column="nickname" property="nickname" />
	<result column="mem_pic" property="memPic" />
	<collection javaType="java.util.ArrayList" resultMap="reReply" property="reList"/>
</resultMap>

<!--대댓글 가져오기 위한 resultMap (학천) -->
<resultMap id="reReply" type="Reply">
	<result column="reReplyNo" property="replyNo" />
	<result column="reply_no2" property="replyNo2"/>
	<result column="reContent" property="replyContent"/>
	<result column="reEnrollDate" property="replyEnrollDate"/>
	<result column="modify_date" property="replyModifyDate" />
	<result column="replyNickname" property="nickname"/> 
</resultMap>

<resultMap type="MemPay" id="memPayResultSet">
	<id column="mem_pay_no" property="memPayNo" />
	<result column="mem_no" property="memNo" />
	<result column="lesson_no" property="lessonNo" />
</resultMap>

<select id="selectApproveLessonList" resultMap="lessonResultSet" >
	select
	       lesson_no
	     , lesson_title
	     , approve_date
	     , lesson_type
	     , status
	  from lesson
	  where mem_no = #{memNo}
	    and lesson_status = '승인'
	 order
	    by approve_date desc
	    
</select>

<select id="selectApproveStatusList" resultMap="lessonResultSet" >
	select
	       lesson_no
	     , lesson_title
	     , approve_date
	     , lesson_type
         , h_reason
         , r_reason
         , lesson_status
	  from lesson
	 where mem_no = #{memNo}
	   and status='Y'
	   and lesson_status != '승인'
	 order
	    by approve_date desc
</select>

<select id="selectLessonList" parameterType="_int" resultMap="lessonResultSet">
	select
	       lesson_no
	     , mem_no
	     , lesson_cover_img
	     , lesson_title
	     , lesson_instr
	     , lesson_cont_no
	     , price
	     , time
	     , total_count
	     , period
	     , discount
	     , pay_total
	     , discount_period
	 from lesson
	where lesson_no = #{lessonNo}
	  and status = 'Y'
</select>

<select id="selectReview" parameterType="_int" resultMap="reviewResultSet">
	<![CDATA[select * 
			   from 
					(
					select 
						   r.review_no
					     , r.star
					     , r.review_content
					     , r.enroll_date
					     , m.nickname
					     , m.mem_pic
					  from review r
					  join member m 
					    on(r.mem_no=m.mem_no)
					 where r.lesson_no = #{lessonNo} 
					   and r.status = 'Y'
					 order
					    by r.enroll_date desc
					    )
			  where rownum < 6]]> 
</select>

<select id="selectLessonFaqList" parameterType="_int" resultMap="lessonFaqResultSet">
	select *
	  from lesson_faq
	 where lesson_no = #{lessonNo}
</select>

<select id="selectTutorInfo" parameterType="_int" resultMap="tutorResultSet">
	select
	       t.mem_no
	     , t.tutor_pic
	     , t.tutor_info
	     , t.status
	     , m.nickname
	  from tutor t
	  join member m on (t.mem_no=m.mem_no)
	  join lesson l on (t.mem_no=l.mem_no)
	 where t.status='Y'
	   and l.lesson_no = #{lessonNo}
</select>

<update id="deleteLesson" parameterType="_int">
	 update
	        lesson
	    set status='N'
	  where lesson_no = #{lno}
</update>

<select id="selectListCount" resultType="_int">
	select
	       count(*)
	  from reply
	 where reply_type = '클래스'
	   and reply_level = 1
	   and status = 'Y'
</select>

<select id="selectReply" parameterType="_int" resultMap="replyResultSet">
	select 
	       r.reply_no
	     , r.mem_no
	     , m.nickname
	     , m.mem_pic
	     , r.reply_content 
	     , r.enroll_date replyDate
	     , rm.nickname replyNickname
	     , rm.mem_pic
	     , re.reply_no reReplyNo
	     , re.reply_no2
	     , re.reply_content reContent
	     , re.enroll_date reEnrollDate
	  from reply r
	  join member m on (r.mem_no = m.mem_no and r.status='Y' and r.reply_level =1)
 left join reply re on (r.reply_no = re.reply_no2 and re.status='Y')
 left join member rm on (re.mem_no = rm.mem_no)
	 where r.total_no = #{lessonNo}
	   and r.reply_type='클래스'
	 order 
	    by r.reply_no desc, re.reply_no2 desc 
</select>

<insert id="insertReply" parameterType="Reply">
	insert 
	  into reply
	   (
	      reply_no
	    , mem_no
	    , reply_content
	    , enroll_date
	    , reply_type
	    , reply_level
	    , total_no
	   )
	   values
	   (
	     seq_rep_no.nextval
	   , #{memNo}
	   , #{replyContent}
	   , SYSDATE
	   , '클래스'
	   , 1
	   , #{totalNo}
	   )
</insert>

<update id="deleteReply" parameterType="_int">
	update
	        reply
	   set
	        status='N'
	      , modify_date = SYSDATE
	 where reply_no = #{replyNo}
	   and reply_type = '클래스'
</update>

<update id="updateReply" parameterType="Reply">
	update 
	       reply
	   set 
	       reply_content = #{replyContent}
	     , modify_date = SYSDATE
	 where reply_no = #{replyNo}
	   and reply_type = '클래스'
</update>

<insert id="insertReReply" parameterType="Reply">
	insert 
	  into reply
	    (
	      reply_no
	    , mem_no
	    , reply_content
	    , reply_no2
	    , reply_type
	    , reply_level
	    , total_no
	    )
	 values
	    (
	      seq_rep_no.nextval
	    , #{memNo}
	    , #{replyContent}
	    , #{replyNo}
	    , '클래스'
	    , 2
	    , #{totalNo}
	    )
</insert> 

<update id="deleteReReply" parameterType="Reply">
	update
	        reply
	   set
	        status='N'
	      , modify_date = SYSDATE
	 where reply_no2 = #{replyNo2}
	   and reply_no = #{replyNo}
	   and reply_type = '클래스'
	   and reply_level = 2
</update>

<update id="updateReReply" parameterType="Reply">
	update 
       reply
   set 
       reply_content = #{replyContent}
     , modify_date = SYSDATE
 where reply_no = #{replyNo}
   and reply_no2 = #{replyNo2}
   and reply_type = '클래스'
</update>

<insert id="reportReply" parameterType="Report">
	insert 
	  into report
	     (
	       mem_no
	     , reply_no
	     , report_type
	     )
	 values
	     (
	        #{memNo}
	      , #{replyNo}
	      , #{reportType}
	     )
</insert>

<update id="likeCount" parameterType="_int">
	update
	       lesson
	   set like_count = like_count + 1
	 where lesson_no = #{lessonNo}
</update>

<update id="dislikeCount" parameterType="_int">
	update
	       lesson
	   set like_count = like_count - 1
	 where lesson_no = #{lessonNo}
</update>

<select id="selectKidsPop" resultMap="lessonResultSet">
		<![CDATA[ select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '키즈'
					           and approve_date is not null
					        )
					 where rownum <10
					 order 
					    by like_count desc]]> 
</select>

<select id="selectKidsNew" resultMap="lessonResultSet">
		<![CDATA[ select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.approve_date
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '키즈'
					           and approve_date is not null
					          order by dbms_random.random
					        )
					 where rownum <10]]> 
</select>

<select id="selectKidsDisc" resultMap="lessonResultSet">
		<![CDATA[select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.discount
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '키즈'
					           and approve_date is not null
					           and disc_status='적용'
					        )
					 where rownum <10]]> 
</select>

<select id="selectKidsAll" resultMap="lessonResultSet">
	 select
	        l.lesson_cover_img
	      , l.lesson_no
	      , l.lesson_title
	      , l.price
	      , r.star
	      , l.like_count
	      , l.discount
	      , l.pay_total
	  from lesson l
	  left join review r on (l.lesson_no = r.lesson_no)
	 where l.status='Y'
	   and l.lesson_category = '키즈'
	   and approve_date is not null
</select>

<select id="selectMoneyPop" resultMap="lessonResultSet">
		<![CDATA[ select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '머니'
					           and approve_date is not null
					        )
					 where rownum <10
					 order 
					    by like_count desc]]> 
</select>

<select id="selectMoneyNew" resultMap="lessonResultSet">
		<![CDATA[ select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.approve_date
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '머니'
					           and approve_date is not null
					          order by dbms_random.random
					        )
					 where rownum <10]]> 
</select>

<select id="selectMoneyDisc" resultMap="lessonResultSet">
		<![CDATA[select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.discount
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '머니'
					           and approve_date is not null
					           and disc_status='적용'
					        )
					 where rownum <10]]> 
</select>

<select id="selectMoneyAll" resultMap="lessonResultSet">
	 select
	        l.lesson_cover_img
	      , l.lesson_no
	      , l.lesson_title
	      , l.price
	      , r.star
	      , l.like_count
	      , l.discount
	      , l.pay_total
	  from lesson l
	  left join review r on (l.lesson_no = r.lesson_no)
	 where l.status='Y'
	   and l.lesson_category = '머니'
	   and approve_date is not null
</select>

<select id="selectCareerPop" resultMap="lessonResultSet">
		<![CDATA[ select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '커리어'
					           and approve_date is not null
					        )
					 where rownum <10
					 order 
					    by like_count desc]]> 
</select>

<select id="selectCareerNew" resultMap="lessonResultSet">
		<![CDATA[ select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.approve_date
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '커리어'
					           and approve_date is not null
					          order by dbms_random.random
					        )
					 where rownum <10]]> 
</select>

<select id="selectCareerDisc" resultMap="lessonResultSet">
		<![CDATA[select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.discount
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '커리어'
					           and approve_date is not null
					           and disc_status='적용'
					        )
					 where rownum <10]]> 
</select>

<select id="selectCareerAll" resultMap="lessonResultSet">
	 select
	        l.lesson_cover_img
	      , l.lesson_no
	      , l.lesson_title
	      , l.price
	      , r.star
	      , l.like_count
	      , l.discount
	      , l.pay_total
	  from lesson l
	  left join review r on (l.lesson_no = r.lesson_no)
	 where l.status='Y'
	   and l.lesson_category = '커리어'
	   and approve_date is not null
</select>

<select id="selectHobbyPop" resultMap="lessonResultSet">
		<![CDATA[ select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '취미생활'
					           and approve_date is not null
					        )
					 where rownum <10
					 order 
					    by like_count desc]]> 
</select>

<select id="selectHobbyNew" resultMap="lessonResultSet">
		<![CDATA[ select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.approve_date
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '취미생활'
					           and approve_date is not null
					          order by dbms_random.random
					        )
					 where rownum <10]]> 
</select>

<select id="selectHobbyDisc" resultMap="lessonResultSet">
		<![CDATA[select *
					 from (
					         select
					                l.lesson_cover_img
					              , l.lesson_no
					              , l.lesson_title
					              , l.price
					              , r.star
					              , l.like_count
					              , l.discount
					              , l.pay_total
					          from lesson l
					          left join review r on (l.lesson_no = r.lesson_no)
					         where l.status='Y'
					           and l.lesson_category = '취미생활'
					           and approve_date is not null
					           and disc_status='적용'
					        )
					 where rownum <10]]> 
</select>

<select id="selectHobbyAll" resultMap="lessonResultSet">
	 select
	        l.lesson_cover_img
	      , l.lesson_no
	      , l.lesson_title
	      , l.price
	      , r.star
	      , l.like_count
	      , l.discount
	      , l.pay_total
	  from lesson l
	  left join review r on (l.lesson_no = r.lesson_no)
	 where l.status='Y'
	   and l.lesson_category = '취미생활'
	   and approve_date is not null
</select>

<select id="selectMemPayList" parameterType="_int" resultMap="memPayResultSet">
	select
	       mem_no
	     , lesson_no
	 from mem_pay
	where lesson_no = #{lessonNo}
</select>


<insert id="insertLessonFaq" parameterType="LessonFaq">
	insert 
	  into lesson_faq
	   (
	      lesson_no
	    , faq_question
	    , faq_answer
	   )
	   values
	   (
	     #{lessonNo}
	   , #{faqQuestion}
	   , #{faqAnswer}
	   )
</insert>

<insert id="insertDelInfo" parameterType="MemPay">
	insert 
	  into mem_pay
	    (
	      mem_pay_no
	    , mem_no
	    , lesson_no
	    , type
	    , del_postcode
	    , del_post_adr
	    , del_detail_adr
	    , del_extra_adr
	    )
	values
	    (
	      seq_mpay_no.nextval
	    , #{memNo}
	    , #{lessonNo}
	    , #{type}
	    , #{delPostcode}
	    , #{delPostAdr}
	    , #{delDetailAdr}
	    , #{delExtraAdr}
	    )
</insert>

</mapper>