<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lessonMapper">
	
<resultMap id="lessonResultSet" type="Lesson">
	<id column="lesson_no" property="lessonNo" />
	<result column="mem_no" property="memNo" />
	<result column="lesson_form" property="lessonForm" />
	<result column="lesson_type" property="lessonType" />
	<result column="lesson_group" property="lessonGroup" />
	<result column="lesson_category" property="lessonCategory" />
	<result column="lesson_title" property="lessonTitle" />
	<result column="lesson_cover_img" property="lessonCoverImg" />
	<result column="lesson_instr" property="lessonInstr" jdbcType="CLOB" javaType="java.lang.String" />
	<result column="lesson_cont_no" property="lessonContNo" />
	<result column="lesson_prepare" property="lessonPrepare" />
	<result column="lesson_target" property="lessonTarget" />
	<result column="like_count" property="likeCount" />
	<result column="lesson_status" property="lessonStatus" />
	<result column="status_hold" property="statusHold" />
	<result column="h_reason" property="holdReason" />
	<result column="r_reason" property="refuseReason" />
	<result column="price" property="price" />
	<result column="time" property="time" />
	<result column="total_count" property="totalCount" />
	<result column="period" property="period" />
	<result column="disc_status" property="discStatus" />
	<result column="discount_period" property="discountPeriod" />
	<result column="discount" property="discount" />
	<result column="pay_total" property="payTotal" />
	<result column="status" property="status" />
	<result column="approve_date" property="approveDate" />
</resultMap>

<resultMap id="reviewResultSet" type="Review">
	<id column="review_no" property="reviewNo" />
	<result column="lesson_no" property="lessonNo" />
	<result column="mem_no" property="memNo" />
	<result column="star" property="star" />
	<result column="review_content" property="reviewContent"/>
	<result column="enroll_date" property="enrollDate"/>
	<result column="modify_date" property="modifiyDate"/>
	<result column="status" property="status"/> 
	<result column="nickname" property="nickname"/> 
	<result column="mem_pic" property="memPic"/> 
</resultMap>

<resultMap id="lessonFaqResultSet" type="LessonFaq">
	<result column="lesson_no" property="lessonNo"/>
	<result column="faq_question" property="faqQuestion" />
	<result column="faq_answer" property="faqAnswer" />
</resultMap>

<select id="selectApproveLessonList" resultMap="lessonResultSet" >
	select
	       lesson_no
	     , lesson_title
	     , approve_date
	     , lesson_type
	  from lesson
	 where status='Y'
	 order
	    by approve_date desc
</select>

<select id="selectApproveStatusList" resultMap="lessonResultSet" >
	select
	       lesson_no
	     , lesson_title
	     , approve_date
	     , lesson_type
         , h_reason
         , r_reason
         , lesson_status
	  from lesson
	 where status='Y'
	 order
	    by approve_date desc
</select>

<select id="selectReview" parameterType="_int" resultMap="reviewResultSet">
	<![CDATA[select * 
			   from 
					(
					select 
						   r.review_no
					     , r.star
					     , r.review_content
					     , r.enroll_date
					     , m.nickname
					     , m.mem_pic
					  from review r
					  join member m 
					    on(r.mem_no=m.mem_no)
					 where r.lesson_no = #{lessonNo} 
					   and r.status = 'Y'
					 order
					    by r.enroll_date desc
					    )
			  where rownum < 6]]> 
</select>

<select id="selectLessonFaqList" parameterType="_int" resultMap="lessonFaqResultSet">
	select *
	  from lesson_faq
	 where lesson_no = #{lessonNo}
</select>

</mapper>