<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memPayMapper">

<resultMap type="MemPay" id="memPayResultSet">
	<id column="mem_pay_no" property="memPayNo" />
	<result column="mem_no" property="memNo" />
	<result column="lesson_no" property="lessonNo" />
	<result column="type" property="type" />
	<result column="repayment" property="repayment" />
	<result column="payment_date" property="paymentDate" />
	<result column="cancel_date" property="cancelDate" />
	<result column="status" property="status" />
	<result column="del_name" property="delName" />
	<result column="del_no" property="delNo" />
	<result column="del_status" property="delStatus" />
	<result column="lesson_title" property="lessonTitle" />
	<result column="mem_id" property="memId" />
	<result column="mem_name" property="memName" />
	<result column="lesson_prepare" property="lessonPrepare" />	
	<result column="lesson_type" property="lessonType"/>
	<result column="like_count" property="likeCount"/>
	<result column="student_count" property="studentCount"/>
	<result column="star" property="star"/>
	<result column="pay_total" property="payTotal"/>
	<result column="total_fee" property="totalFee"/>
	<result column="salary_total" property="salaryTotal"/>
	<result column="fee" property="fee"/>
	<result column="account" property="account"/>
	<result column="payment_date" property="paymentDay"/>
</resultMap>

<select id="selectPrepareList" resultMap="memPayResultSet" parameterType="_int">
	select 
	       l.lesson_title
	     , m.mem_name
	     , mp.del_name
	     , mp.del_no
	     , mp.del_status
	     , to_char(mp.payment_date, 'YYYY-MM-DD') payment_date
	     , l.lesson_prepare
	     , m.mem_no
     	 , l.lesson_no
	  from mem_pay mp
	  left join member m on (mp.mem_no = m.mem_no)
	  left join lesson l on (mp.lesson_no = l.lesson_no)
	where l.mem_no = #{memNo}
	  and l.lesson_type = '온라인'
	  and mp.status = '결제승인'
	  and mp.del_status != '배송확정'
	order
	   by mp.payment_date desc
</select>

<update id="updateDelivery" parameterType="MemPay">
	update
	       mem_pay
	   set del_name = #{delName},
	       del_no = #{delNo},
	       del_status = '배송중'
	 where mem_no = #{memNo}
	   and lesson_no = #{lessonNo}
</update>

<select id="selectListCount" parameterType="_int" resultType="_int">
	select
	       count(*) listcount
      from mem_pay mp
      join lesson l using (lesson_no)
     where l.mem_no = #{memNo}
       and l.lesson_type='온라인'
       and mp.status = '결제승인'
       and l.status = 'Y'
	
</select>

<select id="selectSalaryList" parameterType="_int" resultMap="memPayResultSet">
	 select 
	        l.lesson_no
	      , l.lesson_title
	      , count(mp.mem_no) student_count
          , l.like_count
	      , m.mem_no
	      , l.pay_total
          , l.pay_total * count(mp.mem_no) salary_total
	      , s.account
          , l.lesson_type
	   from lesson l
       left join member m on (l.mem_no = m.mem_no)
	   left join salary s on (l.lesson_no = s.lesson_no)
       left join mem_pay mp on (l.lesson_no = mp.lesson_no)
	   where l.lesson_status = '승인'
	   group by l.lesson_no, l.lesson_title,l.like_count,s.fee,s.account, m.mem_no,l.lesson_type, l.pay_total, l.pay_total * (s.fee/100)
	   having m.mem_no = #{memNo}
	 order by lesson_no desc
</select>
	 
</mapper>