<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">
	
<resultMap id="noticeResultSet" type="Notice">
	<id column="notice_no" property="noticeNo" />
	<result column="notice_type" property="noticeType" />
	<result column="notice_title" property="noticeTitle" />
	<result column="notice_content" property="noticeContent" />
	<result column="enroll_date" property="enrollDate" />
	<result column="modify_date" property="modifyDate" />
	<result column="status" property="status" />
</resultMap>

<select id="selectNoticeList" resultMap="noticeResultSet" >
	select
	       notice_no
	     , notice_type
	     , notice_title
	     , notice_content
	     , enroll_date
	     , modify_date
	     , status
	  from notice
	 where status='Y' or status='R'
</select>

<insert id="insertNotice" parameterType="Notice">
		insert
		  into notice
		  (
		     notice_no
		   , notice_type
		   , notice_title
		   , notice_content
		   , enroll_date
		   , status
		  )
		  values
		  (
		     notice_no.nextval
		   , #{noticeType}
		   , #{noticeTitle}
		   , #{noticeContent}
		   , #{enrollDate}
		   , #{status}
		  )
	</insert>
	
	<update id="updateNotice" parameterType="Notice">
		update 
		       notice
		   set notice_type = #{noticeType}
		     , notice_title = #{noticeTitle}
		     , notice_content = #{noticeContent}
		     , enroll_date = #{enrollDate}
		     , status = #{status}
		 where notice_no = #{noticeNo}
	</update>
	
	<update id="deleteNotice" parameterType="_int">
		update
		       board
		   set status='N'
		 where notice_no = #{noticeNo}
	</update>

	<select id="tutorSelectNoticeListCount" parameterType="Notice" resultType="_int">
		select
			   count(*)
		  from notice
		 where status='Y'
		   and notice_type=#{noticeType}
	</select>

	<select id="tutorSelectNoticeListCount" parameterType="Notice" resultType="_int">
		select
			   count(*)
		  from notice
		 where status='Y'
		   and notice_type=#{noticeType}
	</select>
	
	<slect id="tutorSelectNoticeList" parameterType="Notice" resultMap="noticeResultSet">
	
	</slect>
	
	<select id="tutorDetailNotice" parameterType="Notice" resultMap="noticeResultSet">
	
	</select>
</mapper>