<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

<resultMap id="reviewResultSet" type="Review">
	<id column="review_no" property="reviewNo" />
	<result column="lesson_no" property="lessonNo" />
	<result column="mem_no" property="memNo" />
	<result column="star" property="star" />
	<result column="review_content" property="reviewContent"/>
	<result column="enroll_date" property="enrollDate"/>
	<result column="modify_date" property="modifiyDate"/>
	<result column="status" property="status"/> 
	<result column="nickname" property="nickname"/> 
	<result column="mem_pic" property="memPic"/> 
</resultMap>


<select id="selectReviewList" parameterType="_int" resultMap="reviewResultSet">
	select 
		   r.review_no
	     , r.star
	     , r.review_content
	     , r.enroll_date
	     , m.nickname
	     , m.mem_pic
	  from review r
	  join member m 
	    on(r.mem_no=m.mem_no)
	 where r.lesson_no = #{lessonNo} 
	   and r.status = 'Y'
	 order
	    by review_no desc
</select>

<update id="deleteReview" parameterType="_int">
	update
	        review
	   set
	        status='N'
	      , modify_date = SYSDATE
	 where review_no = #{reviewNo}
</update>

<insert id="insertReview" parameterType="Review">
	insert
	  into review
	    (
	       review_no
	     , lesson_no
	     , mem_no
	     , star
	     , review_content
	    )
	    values
	    (
	      seq_rev_no.nextval
	    , #{lessonNo}
	    , #{memNo}
	    , #{star}
	    , #{reviewContent}
	    )
</insert>

<update id="updateReview" parameterType="Review">
	update
	        review
	   set
	        review_content = #{reviewContent}
	      , modify_date = SYSDATE
	      , star = #{star}
	 where review_no = #{reviewNo}
</update>
</mapper>