<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

<!-- 상세페이지에 보여줄 resultMap(학천) -->
<!-- 
<resultMap id="reviewResultSet" type="Review">
	<id column="review_no" property="reviewNo" />
	<result column="lesson_no" property="lessonNo" />
	<result column="mem_no" property="memNo" />
	<result column="star" property="star" />
	<result column="review_content" property="reviewContent"/>
	<result column="enroll_date" property="reviewEnrollDate"/>
	<result column="modify_date" property="reviewModifiyDate"/>
	<result column="status" property="status"/> 
	<result column="nickname" property="nickname"/> 
	<result column="mem_pic" property="memPic"/> 
	<result column="reply_no" property="replyNo"/>
	<result column="reply_content" property="replyContent"/>
	<result column="reply_level" property="replyLevel"/>
	<result column="replyDate" property="replyEnrollDate" />
	<result column="total_no" property="totalNo"/>
	<result column="reply_type" property="replyType"/>
</resultMap>
-->

 <!-- 후기 상세페이지에 뿌릴 것(학천) -->
<resultMap id="review" type="Review">
	<id column="review_no" property="reviewNo" />
	<result column="lesson_no" property="lessonNo" />
	<result column="star" property="star" />
	<result column="review_content" property="reviewContent"/>
	<result column="enroll_date" property="reviewEnrollDate"/>
	<result column="re_nickname" property="nickname"/> 
	<result column="mem_pic" property="memPic"/> 
	<collection javaType="java.util.ArrayList" resultMap="reply" property="replyList"/>
</resultMap>
 
<!-- 후기 상세페이지 뿌릴 것(학천) -->
<resultMap id="reply" type="Reply">
	<id column="reply_no" property="replyNo" />
	<result column="mem_no" property="memNo"/>
	<result column="reply_content" property="replyContent"/>
	<result column="rp_enrolldate" property="replyEnrollDate" />
	<result column="rp_nickname" property="nickname"/>
	<result column="reply_type" property="replyType"/>
	<result column="total_no" property="totalNo" />
</resultMap>

<!-- 
<select id="selectReviewList" parameterType="_int" resultMap="reviewResultSet">
	select 
		   r.review_no
	     , r.star
	     , r.review_content
	     , r.enroll_date
	     , m.nickname
	     , m.mem_pic
	  from review r
	  join member m 
	    on(r.mem_no=m.mem_no)
	 where r.lesson_no = #{lessonNo}
	   and r.status = 'Y'
	 order
	    by review_no desc
</select>
 -->
  
 <select id="selectReviewList" parameterType="_int" resultMap="review">
 	select 
 	        re.review_no
 	      , re.lesson_no
 	      , rem.nickname re_nickname
 	      , rem.mem_pic
 	      , re.star
 	      , re.review_content
 	      , re.enroll_Date re_enrolldate
 	      , rp.reply_no
 	      , rpm.nickname rp_nickname
 	      , rp.reply_content
 	      , rp.enroll_date rp_enrolldate
	  from review re
	  join member rem on(re.mem_no = rem.mem_no)
 left join reply rp on (re.review_no=rp.total_no and reply_type='후기' and rp.status='Y')
 left join member rpm on (rp.mem_no=rpm.mem_no)
	 where lesson_no=1
	 order 
	    by review_no asc, reply_no desc
 </select>


<insert id="insertReview" parameterType="Review">
	insert
	  into review
	    (
	       review_no
	     , lesson_no
	     , mem_no
	     , star
	     , review_content
	    )
	    values
	    (
	      seq_rev_no.nextval
	    , #{lessonNo}
	    , #{memNo}
	    , #{star}
	    , #{reviewContent}
	    )
</insert>


<insert id="insertReplyReview" parameterType="Reply">
	insert
	  into reply
	    (
	       reply_no
	     , mem_no
	     , reply_content
	     , reply_type
	     , reply_level
	     , total_no
	    )
	 values
	   (
	      seq_rep_no.nextval
	    , #{memNo}
	    , #{replyContent}
	    , '후기'
	    , 1
	    , #{totalNo}
	   )
</insert>

<update id="updateReview" parameterType="Review">
	update
	        review
	   set
	        review_content = #{reviewContent}
	      , modify_date = SYSDATE
	      , star = #{star}
	 where review_no = #{reviewNo}
</update>

<update id="updateReviewReply" parameterType="Reply">
	update 
	       reply
	   set 
	       reply_content = #{replyContent}
	     , modify_date = SYSDATE
	 where reply_no = #{replyNo}
	   and reply_type = '후기'
</update>

<update id="deleteReview" parameterType="_int">
	update
	        review
	   set
	        status='N'
	      , modify_date = SYSDATE
	 where review_no = #{reviewNo}
</update>

<update id="deleteReviewReply" parameterType="_int">
	update
	        reply
	   set
	        status='N'
	      , modify_date = SYSDATE
	 where total_no = #{reviewNo}
	   and reply_type = '후기'
</update>

</mapper>