<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

<resultMap id="reviewResultSet" type="Review">
	<id column="review_no" property="reviewNo" />
	<result column="lesson_no" property="lessonNo" />
	<result column="mem_no" property="memNo" />
	<result column="star" property="star" />
	<result column="review_content" property="reviewContent"/>
	<result column="enroll_date" property="reviewEnrollDate"/>
	<result column="modify_date" property="reviewModifiyDate"/>
	<result column="status" property="status"/> 
	<result column="nickname" property="nickname"/> 
	<result column="mem_pic" property="memPic"/> 
	<result column="reply_no" property="replyNo"/>
	<result column="reply_content" property="replyContent"/>
	<result column="reply_level" property="replyLevel"/>
	<result column="replyDate" property="replyEnrollDate" />
	<result column="total_no" property="totalNo"/>
	<result column="reply_type" property="replyType"/>
</resultMap>

<resultMap id="replyResultSet" type="Reply">
	<id column="reply_no" property="replyNo" />
	<result column="reply_content" property="replyContent"/>
	<result column="reply_level" property="replyLevel"/>
	<result column="replyDate" property="replyEnrollDate" />
	<result column="modify_Date" property="replyModifyDate" />
	<result column="total_no" property="totalNo"/>
	<result column="reply_type" property="replyType"/>
</resultMap>


<select id="selectReviewList" parameterType="_int" resultMap="reviewResultSet">
	select 
		   r.review_no
	     , r.star
	     , r.review_content
	     , r.enroll_date
	     , m.nickname
	     , m.mem_pic
	  from review r
	  join member m 
	    on(r.mem_no=m.mem_no)
	 where r.lesson_no = #{lessonNo}
	   and r.status = 'Y'
	 order
	    by review_no desc
</select>

<select id="selectReplyReviewList" parameterType="_int" resultMap="reviewResultSet">
	select
	       r.review_no
	     , rp.reply_no
	     , rp.reply_content
	     , rp.enroll_date as replyDate
	     , rp.reply_level
	     , rp.total_no
	     , m.mem_pic
	     , m.nickname
	  from review r
	  join reply rp on(reply_type='후기' and r.review_no=rp.total_no)
	  join member m on (rp.mem_no = m.mem_no)
	 where review_no = #{reviewNo}
	  order 
	     by review_no desc, rp.reply_level asc
</select>


<insert id="insertReview" parameterType="Review">
	insert
	  into review
	    (
	       review_no
	     , lesson_no
	     , mem_no
	     , star
	     , review_content
	    )
	    values
	    (
	      seq_rev_no.nextval
	    , #{lessonNo}
	    , #{memNo}
	    , #{star}
	    , #{reviewContent}
	    )
</insert>


<insert id="insertReplyReview" parameterType="Review">
	insert
	  into reply
	    (
	       reply_no
	     , mem_no
	     , reply_content
	     , reply_type
	     , reply_level
	     , total_no
	    )
	 values
	   (
	      seq_rep_no.nextval
	    , #{memNo}
	    , #{replyContent}
	    , '후기'
	    , 1
	    , #{totalNo}
	   )
</insert>

<update id="updateReview" parameterType="Review">
	update
	        review
	   set
	        review_content = #{reviewContent}
	      , modify_date = SYSDATE
	      , star = #{star}
	 where review_no = #{reviewNo}
</update>

<update id="updateReviewReply" parameterType="Review">
	update 
	       reply
	   set 
	       reply_content = #{replyContent}
	     , modify_date = SYSDATE
	 where reply_no = #{replyNo}
	   and reply_type = '후기'
</update>

<update id="deleteReview" parameterType="_int">
	update
	        review
	   set
	        status='N'
	      , modify_date = SYSDATE
	 where review_no = #{reviewNo}
</update>

<update id="deleteReviewReply" parameterType="_int">
	update
	        reply
	   set
	        status='N'
	      , modify_date = SYSDATE
	 where total_no = #{reviewNo}
	   and reply_type = '후기'
</update>

</mapper>