<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tutorMapper">

	<resultMap type="Tutor" id="tutorResultSet">
		<result column="mem_no" property="memNo"/>
		<result column="tutor_pic" property="tutorPic"/>
		<result column="tutor_info" property="tutorInfo"/>
		<result column="modify_date" property="modifyDate"/>
		<result column="status" property="status"/>
	</resultMap>
	
	<resultMap type="Member" id="memberResultSet">
		<result column="mem_no" property="memNo" />
		<result column="auth" property="auth" />
	</resultMap>

	<insert id="insertTutorInfo" parameterType="Tutor">
		insert
		  into tutor
		  (
		  	mem_no
		  , tutor_pic
		  , tutor_info
		  )
		  values
		  (
		  	#{memNo}
		  , #{tutorPic}
		  , #{tutorInfo}
		  )
	</insert>
	
	<update id="updateTutorInfo" parameterType="Tutor">
		update
				tutor
			set tutor_pic = #{tutorPic}
			  , tutor_info = #{tutorInfo}
			  , modify_date = TO_CHAR(SYSDATE,'YY/MM/DD')
		  where mem_no = #{memNo}
	</update>
	
	<select id="selectTutor" resultMap="tutorResultSet">
		select
			   mem_no
			 , tutor_pic
			 , tutor_info
		  from tutor
		 where mem_no = #{memNo}
	</select>

	<update id="getTutorAuth" parameterType="_int">
		update 
		       member
		   set auth=2
		 where mem_no=#{memNo}
	</update>

</mapper>