@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,500,600,700|Roboto:400,500,700|Sen:400,700,800&display=swap");

.tutorEnrollForm{
    margin: 5%;
}
.tutorEnroll-list{
	margin:2%
}
.tutorEnroll-list li {
    position: relative;
    padding-left: 20px;
    line-height: 1.9em !important;
    margin:5px;
}
.tutorEnroll-list li:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border: 2px solid #1f2b7b;
    background: #fff;
    top: 12px;
    left: 0;
    border-radius: 50%;
}

.tutor-textarea {
    display: block;
    width: 900px;
    line-height: 50px;
    border: none;
    outline: none;
    background: #f9f9ff;
    padding: 0 20px;
    height: 200px;
    resize: none;
}

.genric-btn.radius {
    text-decoration: none;
    border-radius: 3px;
}

.genric-btn {    
    display: inline-block;
    outline: none;
    line-height: 40px;
    padding: 0 20px;
    font-size: .9em;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.top-hr{
	border: solid #1f2b7b;
}