<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.ee.user.review.model.vo.Review" alias="Review" />
		<typeAlias type="com.kh.ee.user.faq.model.vo.Faq" alias="Faq"/>
		<typeAlias type="com.kh.ee.user.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.ee.user.lesson.model.vo.Lesson" alias="Lesson" />
		<typeAlias type="com.kh.ee.user.lesson.model.vo.LessonFaq" alias="LessonFaq" /> 
		<typeAlias type="com.kh.ee.user.lesson.model.vo.WishList" alias="WishList" /> 
		<typeAlias type="com.kh.ee.user.tutor.model.vo.Tutor" alias="Tutor" /> 
		<typeAlias type="com.kh.ee.user.memPay.model.vo.MemPay" alias="MemPay"/>
		<typeAlias type="com.kh.ee.user.curriculum.model.vo.Curriculum" alias="Curriculum" />
		<typeAlias type="com.kh.ee.user.curriculum.model.vo.MemVideo" alias="MemVideo" />
		<typeAlias type="com.kh.ee.user.curriculum.model.vo.QnA" alias="QnA" />
		<typeAlias type="com.kh.ee.user.curriculum.model.vo.Video" alias="Video" />
		<typeAlias type="com.kh.ee.user.reply.model.vo.Reply" alias="Reply" />
		<typeAlias type="com.kh.ee.user.notice.model.vo.Notice" alias="notice" />
		<typeAlias type="com.kh.ee.user.report.model.vo.Report" alias="Report" />
		<typeAlias type="com.kh.ee.admin.model.vo.SearchCondition" alias="SearchCondition" />
		<typeAlias type="com.kh.ee.user.salary.model.vo.Salary" alias="Salary"/>
		<typeAlias type="com.kh.ee.user.inquiry.model.vo.Inquiry" alias="Inquiry"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/review-mapper.xml" />
		<mapper resource="/mappers/faq-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/lesson-mapper.xml"/>
		<mapper resource="/mappers/memPay-mapper.xml"/>
		<mapper resource="/mappers/curriculum-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/tutor-mapper.xml"/>
		<mapper resource="/mappers/admin-mapper.xml"/>
		<mapper resource="/mappers/main-mapper.xml"/>
		<mapper resource="/mappers/salary-mapper.xml"/>
		<mapper resource="/mappers/support-mapper.xml" />
	</mappers>
</configuration>