<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.ee.user.review.model.vo.Review" alias="Review" />
		<typeAlias type="com.kh.ee.user.faq.model.vo.Faq" alias="Faq"/>
		<typeAlias type="com.kh.ee.user.member.model.vo.Member" alias="Member"/>
		<typeAlias type="com.kh.ee.user.lesson.model.vo.Lesson" alias="Lesson" />
		<typeAlias type="com.kh.ee.user.lesson.model.vo.LessonFaq" alias="LessonFaq" /> 
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/review-mapper.xml" />
		<mapper resource="/mappers/faq-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/lesson-mapper.xml"/>
	</mappers>
</configuration>